extends layout

block content
    .page
        .pageHeading
            span.heading choose date...
        .pageContent
        .fields
            .row
                .col-xs-12
                    form(action='' method='post' role="form")
                        .form-group
                            label(for='start').radioOption#start Date
                            input.form-control(type='date', name='start', id='start')
                        .selectDuration.Mb-20.Ta-end
                            a(href="#").link.Fw-b
                                span.Mb-20 Select a duration...
                        .duration.Hidden
                            .form-group
                                label(for='start').radioOption#end End
                                input.form-control(type='date', name='start', id='start')
                            .removeDate
                                a(href="#").link
                                    span.glyphicon.glyphicon-remove
                        .form-group
                                input(id='submitBtn', type='submit',value='Submit').btn.btn-primary.W-100
    script.
        $('.selectDuration').click(function (e) {
            e.preventDefault();
            $('.selectDuration').addClass('Hidden');
            $('.duration').removeClass('Hidden');
            $('#start').html('Start');
        });
        $('.removeDate').click(function (e) {
            e.preventDefault();
            $('.selectDuration').removeClass('Hidden');
            $('.duration').addClass('Hidden');
            $('#start').html('Date');
        });