extends layoutNoNav

block content
    .loginContent
        .loginTitle 
            a(href="/") balancr
        .fields
            .row
                .col-xs-12
                    form(role="form", action="/resetpassword")
                        .form-group
                            label(for='email').radioOption Email
                            input.form-control(type='email', name='email', id='email', placeholder='Email')
                        .form-group
                            input(type='submit', value="Send email to reset password").btn.btn-primary.W-100