extends layoutNoNav

block content
    .loginContent
        .loginTitle 
            a(href="/") balancr
        .fields
            .row
                .col-xs-12
                    form(role="form", method="POST", action="/signup")
                        .form-group
                            label(for='email').radioOption Email
                            input.form-control(type='email', name='email', id='email', placeholder='Email')
                        .form-group
                            label(for='password').radioOption Password
                            input.form-control(type='password', name='password', id='password', placeholder='Password')
                        .form-group
                            label(for='password').radioOption Confirm Password
                            input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password')
                        .form-group
                            input(type='submit', value="Sign Up").btn.btn-primary.W-100